player-connection-mode=Listen
player-connection-guid=2995912568
player-connection-debug=0
player-connection-project-name=Beggar Estate Defense
player-connection-ip=172.30.1.41
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=7ea64a11aa1e434887b238df218733bf
